<%= form_for([@challenge, @challenge.submissions.build]) do |f| %>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :demo %><br>
    <%= f.text_field :demo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
