<h1>Listing submissions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Challenge</th>
      <th>Title</th>
      <th>Description</th>
      <th>Source</th>
      <th>Demo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.user %></td>
        <td><%= submission.challenge %></td>
        <td><%= submission.title %></td>
        <td><%= submission.description %></td>
        <td><%= submission.source %></td>
        <td><%= submission.demo %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
