
<h2><%= @submission.challenge.title %></h2>
<h3><%= @submission.title %></h3>

<p>
  <strong>User:</strong>
  <%= @submission.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @submission.description %>
</p>

<p>
  <strong>Source:</strong>
  <%= @submission.source %>
</p>

<p>
  <strong>Demo:</strong>
  <%= @submission.demo %>
</p>