<h2><%= @challenge.title %></h2>

<p>
  <%= @challenge.description %>
</p>

<p>
  <strong>Points:</strong>
  <%= @challenge.points %>
</p>

<h3>Submissions</h3>

<%= link_to "New Submission", new_challenge_submission_path(@challenge), class: "btn btn-primary" %>

<% if @submissions.length %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%= link_to submission.title, challenge_submission_path(@challenge, submission) %></td>
          <td><%= submission.description %></td>
          <td><%= submission.user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>