<nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>">Code Dojo</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <li><a href="<%= challenges_path %>">Challenges</a></li>
      <li><a href="<%= users_path %>">Users</a></li>
      <li><a href="<%= pages_about_path %>">About</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li> <%= link_to current_user.email, user_path(current_user) %> </li>
          <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
        <% else %>
          <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
          <li> <%= link_to "Sign In", new_user_session_path %> </li>
        <% end %>        
    </ul>

  </div>
</nav>